@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

$Grey500: hsl(234, 12%, 34%);
$Grey400: hsl(212, 6%, 44%);
$White: hsl(0, 0%, 100%);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $White;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100dvh;
  font-family: "Poppins";
  color: $Grey500;
  @media (min-width: 992px) {
    justify-content: center;
  }
}

header {
  text-align: center;
  padding-bottom: 2rem;
  max-width: 510px;
  h1 {
    font-weight: 600;
    font-size: #{clamp(1.5rem, 5vw + 1px, 2rem)};
    padding-bottom: 1rem;
  }
  h2 {
    font-weight: 200;
    font-size: #{clamp(1.5rem, 5vw + 1px, 2rem)};
  }
  p {
    font-weight: 400;
    font-size: 0.95rem;
  }
}

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1110px;
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem 2rem;
  }
  .card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px $Grey400;
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.85rem;
      padding-bottom: 1rem;
    }
    .image {
      display: grid;
      justify-items: end;
      align-items: center;
    }
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  .card-1 {
    border-top: 5px solid $Cyan;
    @media (min-width: 992px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-area: 2 / 1 / 4 / 2;
    }
  }
  .card-2 {
    border-top: 5px solid $Red;
    @media (min-width: 992px) {
      grid-area: 1 / 2 / 3 / 3;
    }
  }
  .card-3 {
    border-top: 5px solid $Orange;
    @media (min-width: 992px) {
      grid-area: 3 / 2 / 5/ 3;
    }
  }
  .card-4 {
    border-top: 5px solid $Blue;
    margin-bottom: 2rem;
    @media (min-width: 992px) {
      grid-area: 2 / 3 / 4/ 4;
      margin-bottom: 0;
    }
  }
}
